[submodule "poky"]
	path = sources/poky
	url = https://git.yoctoproject.org/poky
[submodule "meta-openembedded"]
	path = sources/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "sources/meta-freescale"]
	path = sources/meta-freescale
	url = https://github.com/Freescale/meta-freescale.git
[submodule "sources/meta-arm"]
	path = sources/meta-arm
	url = https://git.yoctoproject.org/meta-arm
[submodule "sources/meta-rauc"]
	path = sources/meta-rauc
	url = https://github.com/rauc/meta-rauc.git
