# Compiler: gcc (Ubuntu 11.4.0-1ubuntu1~22.04) 11.4.0
CONFIG_GCC_VERSION=110400
CONFIG_BOOTDELAY=0
CONFIG_CMD_PART=y
CONFIG_PARTITION_UUIDS=y
CONFIG_LIB_UUID=y
CONFIG_BOOTCOMMAND="load mmc 1:1 0x82000000 /boot.scr; source"
# CONFIG_NET is not set
