CONFIG_BROKEN_ON_SMP=y
CONFIG_TINY_RCU=y
CONFIG_TINY_SRCU=y
# CONFIG_SOC_IMX31 is not set
# CONFIG_SOC_IMX35 is not set
# CONFIG_SOC_IMX50 is not set
# CONFIG_SOC_IMX51 is not set
# CONFIG_SOC_IMX53 is not set
# CONFIG_SOC_IMX6Q is not set
# CONFIG_SOC_IMX6SL is not set
# CONFIG_SOC_IMX6SLL is not set
# CONFIG_SOC_IMX6SX is not set
# CONFIG_SOC_IMX7D is not set
# CONFIG_SOC_IMX7ULP is not set
# CONFIG_SOC_VF610 is not set
# CONFIG_SWP_EMULATE is not set
# CONFIG_CPU_DCACHE_DISABLE is not set
# CONFIG_SMP is not set
CONFIG_CURRENT_POINTER_IN_TPIDRURO=y
# CONFIG_XEN is not set
CONFIG_STACKPROTECTOR_PER_TASK=y
CONFIG_NEED_PER_CPU_KM=y
# CONFIG_CAN is not set
# CONFIG_BT is not set
CONFIG_CFG80211=m
CONFIG_MAC80211=m
CONFIG_RFKILL=m
# CONFIG_PCI is not set
CONFIG_MTD=m
CONFIG_MTD_CMDLINE_PARTS=m
CONFIG_MTD_OF_PARTS=m
CONFIG_MTD_BLKDEVS=m
CONFIG_MTD_BLOCK=m
# CONFIG_MTD_BLOCK_RO is not set
CONFIG_MTD_CFI=m
CONFIG_MTD_JEDECPROBE=m
CONFIG_MTD_GEN_PROBE=m
CONFIG_MTD_CFI_INTELEXT=m
CONFIG_MTD_CFI_AMDSTD=m
CONFIG_MTD_CFI_STAA=m
CONFIG_MTD_CFI_UTIL=m
CONFIG_MTD_PHYSMAP=m
CONFIG_MTD_DATAFLASH=m
CONFIG_MTD_SST25L=m
CONFIG_MTD_NAND_CORE=m
CONFIG_MTD_RAW_NAND=m
CONFIG_MTD_NAND_GPMI_NAND=m
CONFIG_MTD_NAND_MXC=m
CONFIG_MTD_SPI_NOR=m
CONFIG_MTD_UBI=m
# CONFIG_ATA is not set
# CONFIG_NET_VENDOR_WIZNET is not set
# CONFIG_NET_VENDOR_XILINX is not set
# CONFIG_USB_NET_DRIVERS is not set
CONFIG_RTL_CARDS=m
# CONFIG_INPUT_KEYBOARD is not set
# CONFIG_INPUT_MOUSE is not set
# CONFIG_INPUT_TOUCHSCREEN is not set
# CONFIG_INPUT_MISC is not set
CONFIG_W1_MASTER_GPIO=m
# CONFIG_RC_CORE is not set
# CONFIG_MEDIA_SUPPORT is not set
# CONFIG_DRM_PANFROST is not set
# CONFIG_SOUND is not set
# CONFIG_IOMMU_IO_PGTABLE_LPAE is not set
# CONFIG_ARM_SMMU is not set
CONFIG_JFFS2_FS=m
CONFIG_UBIFS_FS=m
CONFIG_CRYPTO_LIB_ARC4=m
CONFIG_FORCE_NR_CPUS=y
